*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  background: radial-gradient(#bee7be, #e2e9e2, #b4ebb4, #b4ebb4);
}


.container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content {
}

h1 {
  font-size: 3rem;
}

.result {
  background-color: #8381ffc0;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.result .pointsO-container p span,
.result .pointsX-container p span {
  color: white;
}

.result .pointsO-container p,
.result .pointsX-container p {
  color: white;
}

.grid-container {

}

.grid {
  width: 100%;
  height: 50%;
}

.zellen { /* ul --> grid */
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  width: 300px;
  height: 300px;
  max-height: 400px;
  margin: 0 auto;
}

.zelle {
  background-color: #b4ebb4;
  border: 1px solid #5a5757;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 900;
}

.zelle:hover {
  cursor: pointer;
  background-color: #7fbd7f;
}